<html>
  <head>
    <title>Your Prediction</title>
    <link rel="stylesheet" href="../static/css/stylepositive.css">
  </head>
  <body>
    <div class="heading">
      <h1>Covid Fake News Analyser</h1>
    </div>
    <div class="container">
      <p class="fake">The news you have entired is true!</p>
      <p class="resources">Here are some resources that could verify our prediction: </h3>
      <div class="results">
        {% for result in search_results %}
          <div class="result">
            <a href = {{result}}>{{result}}</a>
          </div>
        {% endfor %}
      </div>
  </body>
</html>